.side-bar{
    flex: 0.25;
    height: calc(100vh - 92px);
    position: sticky;
    top: 92px;
    margin-top: 30px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upperPanel__bar,.upperPanel__bar--active{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.upperPanel__bar--active{
    background-color: rgba(185,43,39,0.15);
    color: var(--red);
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
}
.upperPanel__bar svg{
    width: 14px;
}
.upperPanel__bar__icon{
    height: 18px;
    width: 18px;
}
.upperPanel__heading{
    padding-bottom:8px;
    border-bottom: 1px solid var(--light-gray);
}
.lowerPanel{
    display: flex;
    flex-wrap: wrap;
    max-width: 142px;
    gap: 7px;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid var(--light-gray);
    padding-left: 5px;
}
.lowerPanel__link{
    text-decoration: none;
    color: var(--dark-gray);
    position: relative;
}
.lowerPanel__link:not(:last-child):after{
    content: ' · ';
    font-weight: 800;
    margin-left: 3px;
}
.lowerPanel__link:hover span{
    text-decoration: underline;
}
@media screen and (max-width:1050px) {
    .side-bar{
        display: none;
    }
}