.card {
  position: relative;
  margin: 20px;
  background-color: var(--color-white);
  padding: 20px;
  --margin: 7px;
}
.details-card {
  width: 100%;
  overflow-y: scroll;
}

.card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: bottom;
}
.card .user-name {
  display: inline;
  margin-left: 20px;
  text-transform: capitalize;
}

.card .header-3 {
  margin: var(--margin);
}
.card .para {
  margin: 20px !important;
  color: var(--dark-gray);
}
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .asks {
  font-size: 1.125rem;
  color: var(--dark-gray);
}
.card .question-input {
  display: block;
  width: 100%;
  height: 1.6rem;
}
.card .matching-questions {
  list-style: none;
  margin: 10px;
  padding: 10px;
}
.card .matching-questions li {
  margin: 5px 0;
  padding: 5px 0;
  font-weight: 600;
  border-bottom: 1px solid var(--light-gray);
}
.card .btn-group {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.card .btn-group .btn {
  padding: 0px 20px;
  height: 38px;
  min-width: 38px;
  border: none;
  outline: none;
  cursor: pointer;
}
.card .btn-group .btn:last-child {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 38px;
}
.card .btn-group .btn:last-child:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.ans-user-name {
  font-size: 1rem;
}
.answeredBy {
  margin-top: 30px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.underline-listItem{
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--light-gray);
}
.answer-btn{
  margin: 5px 20px ;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1.05rem;
  color: var(--dark-gray);
  gap: 5px;
}
@media screen and (max-width: 450px) {
  .question {
    margin: 10px;
    padding: 10px;
  }
  .card h3 {
    font-size: 1.125rem;
  }
  .card h2 {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 750px) {
  .card {
    margin: 10px;
    padding: 10px;
  }
}
