.following__container{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    color: var(--color-text);
    flex: 0.75;
}
.following__container__image{
    max-width: 100px;
    width: 100%;
    padding: 30px 0 10px 0;
}
.following__container__heading{
    font-size: 1.35rem;
    margin: 0 0 5px;
    padding: 3px 0;
}
@media screen and (max-width:1050px) {
    .following__container{
        width: 100%;
        text-align: center;
    }
}